@media screen and (min-width: 420px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .depoimentos-D {
        max-width: calc(100% - 10px);
}
.produto-item {
  height: 470px;
}

}


@media  screen and (min-width: 767px) {


  #Sobre, #Serviços {
    margin-top: 0px;
    margin-bottom: 0px;
   
  }

  
   #Serviços{
    border-radius: 1%;
   margin-top: 20px;
   margin-bottom: 0px;
    
    
  }
 
  
    
  
   header nav ul li a{
    font-size: 1em;
    gap: 30px;
    margin-right: 10px;
  }

  header img {
   height: 150px;
    width: 240px;
  }

  .banner {
    height: 20px;
  }

  .banner p {
    font-size: 1.2em;
    
  }

 
 .container {
        width: 100%;
        padding: 0 10px;
    }
    
    .depoimentos-D {
      border-radius: 1%;
        max-width: calc(100% - 17px);
    }
  main {
    max-width: 850px;
    padding: 0 10px 
   }

main h1 {
    font-size: 3em;
    
  }

    #slogan {
    font-size: 1.6em;
  }

  main p {
    font-size: 1.1em;
    
    
  }


  .div-imagem-satisfação .img-home {
    margin: 7px 0;
  }

   .div-imagem-satisfação .img-bike-secund {
    display: block;
    width: 350px;
    height: 250px;

  }
 .div-imagem-satisfação .img-home {
    width:220px;
    height: 250px;
  }

   .div-imagem-satisfação .img-bike-secund {
    display: block;
    width: 350px;
    height: 250px;
  }


  .telamaior {
    
    display: inline-block;
    margin-left: -7px;
    color: var(--cor-vermelhoescuro);
  }

  #Home {
    margin-bottom: 10px;
  }

 
  .conteiner-D {
    width: 99%;
    height: 570px;
    
    
  }

  .depoimentos-D h2 {
    font-size: 1.6em;
    padding: 10px;
  }

 .cards-D .cards-link-D {
    margin-left: -10px;
    width: 400px;
  }

  .swiper-slide-buttton:hover {
    background-color: rgba(70, 8, 8, 0.103);
  }

  .imgagem-one img {
   width: 99%;
   
   margin: 0 auto;
  }



    .produto-linha-vip {
        display: flex;
        width: 100%;
    }

    

    .produto-item {
       width: 100%;
    }

    .produto-item img {
        max-width: 350px;
        max-height: 250px; 
        padding: 30px;
        margin-bottom: 10px; 
    }

    .product-description {
        font-size: 1.4em;
        margin-bottom: 5px;
    }

    .breve-descricao {
        font-size: 1.2em; 
        margin-bottom: 10px;
    }

    .product-price {
        font-size: 1.1em;
         
        margin-bottom: 10px; 
    }
   

    .preco-parcelado {
        font-size: 1em; 
    }

    .preco-avista {
        font-size: 1.1em; 
    }

    .pai-A {
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 5px;
    width: 130px;
    margin-bottom: 20px;
    
  }   

   .pai-A img.estrelaA {
   flex: auto;
    margin-top: -50px; 
    margin-left: -22px;
    height: 160px;
    opacity: .3;
  }
    .botoes-produto-container {
        gap: 10px; 
    }

    .compra-agora, .view-button {
        padding: 8px 15px; 
        font-size: 1em; 
    }


    h1.sobre {
        font-size: 2.5em;
    }

     
   .slider-principal-home {
    margin: 0 auto;
    max-width: 99%;
    height: 425px;
    overflow: hidden;
   }

  
  .imgagem-one-slide img {
    width: 99%;
   
    margin: 0 auto;
  }



    #Serviços  .imgagem-one {
      margin: 15px 0;
        width: 95%;
        
        
    }

    
     .imgagem-one img {
      height: 360px;
      width: 100%;
      margin: 0 auto;
     }

     #Sobre h1 br  {
       display: block;
     }

     #Sobre .img-centro-sobre {
        width: 100%;
        height: 100%;
        margin: 40px 0; 
        


     }

     .img-sobre {
        width: 49%;
        height: 330px;
        margin: 0 auto;
     }  
    .off {
      display: block;
     }

    span.off {
        display: none;
     }
     p.off {
        display: none;
     }
     p.on{
        display: block;
        padding: 20px;
        margin-bottom: 10px;
        margin-top: -30px;
        margin-left: -10px;
     }

      .img-centro-sobre iframe {
      width: 90%;
      height: 80%;    
      }


      main.contato{
        background-color: var(--cor-vermelhoescuro);
        box-shadow: none;
        margin-top: -5px;
        padding-top: -0px;
        
      }

      article.contato-mapa {
       padding-top: -30px;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        margin: 0 auto;
      
        
      }

      .marca-direitos-autorais {
        font-size: .9em;
      }
    }
  
     

@media screen and (min-width: 1024px) {
  #Home , #Sobre, #Serviços {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
  }
   #Serviços{
   margin-top: 0px;
   margin-bottom: 0px;
    background: white;
    align-items: center;
  }
  .contato-mapa {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 1%;
  }

  .container-links {
    font-weight: bold;
    font-size: 1.2em;
  }

   .footer__aba h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.173) ;
  }

  
  .footer__aba li {
    margin-bottom: .9em;
    
  }
  
  .footer__aba a {
    text-decoration: none;
    color: var(--cor-amareloclaro);
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: .4em;
    transition: color 0.3s ease;
  }
  
  .footer__aba a:hover,
  .footer__aba a:focus {
    color: #a29034;
    
    transition: color 0.3s ease ;
  }
  
  .material-symbols-outlined {
    font-size: 2em;
    
  }

  .formas-pag {
    background-color: var(--cor-vermelhoescuro);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .img-formas-pag {
    width: 55%;
    padding:1em;
    cursor: pointer;
  }
  .img-formas-ssl {
    width:100px;
    padding: 1.1em 1.5em;
    cursor: pointer;
    transition: all .3s linear;
  }
  

  .displayONFF {
    display: inline-block;
    width: 95px;
  }
  
  .ssl {
    padding:8px 9px;
    font-size: .65em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.173) ;
    margin: 0 auto;
  }
  

    .img-formas-segurança {
    width: 100%;
    max-width: 300px;
    height: 100%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transition: all .3s linear;
    }


    .img-formas {
    margin-left: 6px;
    padding: 10px 0;
    width: 12%;
    max-width: 100px;
    height: 100%;
    cursor: pointer;
    transition: all .3s linear;

    }
    .img-formas:hover {
    transform: scale(1.28);
    transition: all .5s linear;
    }

    

    .marca-p-footer {
    display: flex;
    justify-content: center;
    align-items: center;


    }

   


hr {
    width: 100%;
    height: 1px;
    background-color: var(--cor-amareloclaro);
    border: none;
    margin: 0 auto;
}

  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding: 1em; 
    background: var(--cor-vermelhofooter);
    color: #fff;
    text-align: center;
    
}

.dev-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.dev-logo p {
    font-size: .8em;
    font-weight: bold;
    
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.173);
}


  body {
    background-image: linear-gradient(to bottom, #be3537, #4b0a0a 95%) ;
  }
  .slider-principal-home {
    margin: 0 auto;
    max-width: 95%;
    height: 510px;
    
  
    overflow: hidden;
   }

    .imgagem-one-slide img {
    width: 95%;
   
    margin: 0 auto;
  }

  
    main {
    max-width: 850px;
    padding: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.208);
  }
    .container {
        width: 100%;
        padding: 0 10px;
    }

    article.contato-mapa {
       padding-top: -30px;
        width: 96%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        margin: 0 auto;
        
        
      }

      #Home {
        margin-bottom: 40px;
      }

  

    main h1 {
    font-size: 3.5em;
    
  }

    #slogan {
    font-size: 2em;
  }

  main p {
    font-size: 1.3em;
    
    
  }
.div-imagem-satisfação {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-flow: row nowrap;
  }

  }
 .div-imagem-satisfação .img-home {
    width:250px;
    height: 250px;
  }

   .div-imagem-satisfação .img-bike-secund {
    display: block;
    width: 350px;
    height: 250px;
  }


  .telamaior {
    display: inline-block;
    margin-left: -7px;
    color: var(--cor-vermelhoescuro);
  }

  header nav ul li a{
    font-size: 1em;
    gap: 30px;
    margin-right: 10px;
  }

  header img {
    max-width: 140px;
  }

  .banner {
    height: 20px;
  }

  .banner p {
    font-size: 1.2em;
    
  }

  

  .conteiner-D {
    max-width: 849px;
    margin-top: 15px;
    
  }

   
    
  .depoimentos-D h2 {
    font-size: 1.6em;
    padding: 10px;
  }

  

  