@media screen and (min-width: 420px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .depoimentos-D {
        max-width: calc(100% - 10px);
}
.produto-item {
  height: 470px;
}

}


@media  screen and (min-width: 767px) {
  
   header nav ul li a{
    font-size: 1em;
    gap: 30px;
    margin-right: 10px;
  }

  header img {
   height: 150px;
    width: 240px;
  }

  .banner {
    height: 20px;
  }

  .banner p {
    font-size: 1.2em;
    
  }

 
 .container {
        width: 100%;
        padding: 0 10px;
    }

    .depoimentos-D {
        max-width: calc(100% - 17px);
    }
  main {
    max-width: 780px;
    padding: 0 10px 
   }
.main h1 {
    font-size: 3.1em;
    
  }

    #slogan {
    font-size: 1.6em;
  }

  main p {
    font-size: 1.1em;
    
    
  }


  .div-imagem-satisfação .img-home {
    margin: 7px 0;
  }

   .div-imagem-satisfação .img-bike-secund {
    display: block;
    width: 350px;
    height: 250px;

  }
 .div-imagem-satisfação .img-home {
    width:220px;
    height: 250px;
  }

   .div-imagem-satisfação .img-bike-secund {
    display: block;
    width: 350px;
    height: 250px;
  }


  .telamaior {
    
    display: inline-block;
    margin-left: -7px;
    color: var(--cor-vermelhoescuro);
  }

  #Home {
    margin-bottom: -70px;
  }

 
  .conteiner-D {
    width: 779px;
    height: 570px;
    margin-top: -43px;
    
  }

  .depoimentos-D h2 {
    font-size: 1.6em;
    padding: 10px;
  }

 .cards-D .cards-link-D {
    margin-left: -10px;
    width: 375px;
  }

  .swiper-slide-buttton:hover {
    background-color: rgba(70, 8, 8, 0.103);
  }

  .imgagem-one img {
   width: 99%;
   
   margin: 0 auto;
  }



    .produto-linha-vip {
        display: flex;
        width: 100%;
    }

    

    .produto-item {
       width: 100%;
    }

    .produto-item img {
        max-width: 350px;
        max-height: 250px; 
        padding: 30px;
        margin-bottom: 10px; /* Restaura a margem inferior para desktop */
    }

    .product-description {
        font-size: 1.4em; /* Restaura o tamanho da fonte para desktop */
        margin-bottom: 5px; /* Restaura a margem inferior para desktop */
    }

    .breve-descricao {
        font-size: 1.2em; /* Restaura o tamanho da fonte para desktop */
        margin-bottom: 10px; /* Restaura a margem inferior para desktop */
    }

    .product-price {
        font-size: 1.1em;
         /* Restaura o tamanho da fonte para desktop */
        margin-bottom: 10px; /* Restaura a margem inferior para desktop */
    }
   

    .preco-parcelado {
        font-size: 1em; /* Restaura o tamanho da fonte para desktop */
    }

    .preco-avista {
        font-size: 1.1em; /* Restaura o tamanho da fonte para desktop */
    }

    .pai-A {
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 5px;
    width: 130px;
    margin-bottom: 20px;
    
  }   

   .pai-A img.estrelaA {
   flex: auto;
    margin-top: -50px; 
    margin-left: -22px;
    height: 160px;
    opacity: .3;
  }
    .botoes-produto-container {
        gap: 10px; /* Restaura o espaçamento entre os botões para desktop */
    }

    .compra-agora, .view-button {
        padding: 8px 15px; /* Restaura o padding dos botões para desktop */
        font-size: 1em; /* Restaura o tamanho da fonte dos botões para desktop */
    }


    h1.sobre {
        font-size: 2.5em;
    }

     .slider-principal-home {
      margin: 0 auto;
        max-width: 75%;
        
        overflow: hidden;
    }

    .slider-principal-home img {
      margin: 0 auto;
      width: 100%;
      
    }


    #Serviços  .imgagem-one {
      margin: 15px 0;
        width: 95%;
        
        
    }
     .imgagem-one img {
      height: 360px;
      width: 100%;
      margin: 0 auto;
     }

     #Sobre h1 br  {
       display: block;
     }

     #Sobre .img-centro-sobre {
        width: 100%;
        height: 100%;
        margin: 40px 0; 
        


     }

     .img-sobre {
        width: 49%;
        height: 330px;
        margin: 0 auto;
     }  
    .off {
      display: block;
     }

    span.off {
        display: none;
     }
     p.off {
        display: none;
     }
     p.on{
        display: block;
        padding: 20px;
        margin-bottom: 10px;
        margin-top: -30px;
        margin-left: -10px;
     }

      .img-centro-sobre iframe {
      width: 90%;
      height: 80%;    
      }


      main.contato{
        background-color: var(--cor-vermelhoescuro);
        box-shadow: none;
        margin-top: -20px;
        padding-top: -0px;
        
      }

      article.contato-mapa {
       padding-top: -30px;
        width: 88ch;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        margin: 0 auto;
        margin-left: -17px;
        
      }
    }
  
     

@media screen and (min-width: 1024px) {

  
    main {
    max-width: 850px;
    padding: 0 10px;
  }
    .container {
        width: 100%;
        padding: 0 10px;
    }

    article.contato-mapa {
       padding-top: -30px;
        width: 97ch;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        margin: 0 auto;
        margin-left: -20px;
        
      }

  

    main h1 {
    font-size: 3.5em;
    
  }

    #slogan {
    font-size: 2em;
  }

  main p {
    font-size: 1.3em;
    
    
  }
.div-imagem-satisfação {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-flow: row nowrap;
  }

  }
 .div-imagem-satisfação .img-home {
    width:250px;
    height: 250px;
  }

   .div-imagem-satisfação .img-bike-secund {
    display: block;
    width: 350px;
    height: 250px;
  }


  .telamaior {
    display: inline-block;
    margin-left: -7px;
    color: var(--cor-vermelhoescuro);
  }

  header nav ul li a{
    font-size: 1em;
    gap: 30px;
    margin-right: 10px;
  }

  header img {
    max-width: 140px;
  }

  .banner {
    height: 20px;
  }

  .banner p {
    font-size: 1.2em;
    
  }

  

  .conteiner-D {
    max-width: 849px;
    margin-top: 15px;
    
  }

   
    
  .depoimentos-D h2 {
    font-size: 1.6em;
    padding: 10px;
  }

  

  