:root {
    --cor-amarelalogo: #dcbe2c;
    --cor-amareloclaro: #ffcc00;
    --cor-vermelhoclaro: #be3537;
    --cor-vermelhoescuro: #620b0b;
    --cor-vermelhofooter: #460808;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

body {
   margin: 0;
    padding: 0;
   background-color: var(--cor-vermelhoclaro);
    height: 100%;
    color: #000;
    font-size: 1em;
    
}

html { 
    font-size: 99%;
    scroll-behavior: smooth;
}

header{
    position: sticky;
    top: 0 ;
    width: 100%;
    background-color: var(--cor-amarelalogo);
    padding: .9em 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.250);
    z-index: 2023;
}

header .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
}

 header nav ul {
        display: flex;
        gap: .4em; 
}

header nav ul li a {
       
        color: #fffef7;;
        font-size: .9em;
        font-weight: bold;
        
        text-shadow: 1 1px 2px rgba(0, 0, 0, 0.450);
        transition: all .3s ease-in;
       
}
a {
    text-decoration: none;
    padding: 5px;
    display: flex;
   
    
}

header nav ul li a:hover {
        color: var(--cor-vermelhoclaro);
        border-radius: 5px;
        transition: all .3s ease-in;
        animation:  11s linear infinite;
        text-decoration: underline;

       
}

header nav ul li a.active {
        color: #fffdf4;
       background-image: linear-gradient(to bottom, var(--cor-vermelhoclaro) 1%, transparent) ;
        border-radius: 5px;
        transition: all .3s ease-in;
       
}

header img {
    display: flex;
    justify-content: flex-start;
    max-width: 120px;
    height: auto;  
}




ul {
list-style: none;
}

.section {
    width: 100%;
    min-height: calc(100vh - .9em); 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.250);
    
    
    
   
    
}

#Home{
   background-color: var(--cor-vermelhoclaro);
    align-items: flex-start;
    margin-bottom: -45px;
    padding-top: 7px;
    
}
#Serviços{
   margin-top: 10px;
   margin-bottom: 10px;
    background-color: var(--cor-vermelhoclaro);
    align-items: center;
    
}
#Sobre{
    background: var(--cor-vermelhoescuro);
    align-items: center
    
}
#Contato{background-color: var(--cor-vermelhofooter); align-items: center;
}


.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 3em 0;
    background-color: var(--cor-vermelhofooter);
    color: #fff;
    font-size: 1em;
}

@keyframes AnimaçãoBanner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80%);
    }
    
}


.container-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0.1em 0;
    background-color: var(--cor-vermelhoescuro);
    color: var(--cor-amarelalogo);
    font-size: .9em;
   text-align: center;
   margin-bottom: 0;

}



.banner { 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);
    margin-bottom: 0;
    animation-timing-function: linear;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
animation: 20s AnimaçãoBanner  infinite linear ;
position: relative;
}

.container-banner:hover .banner {
    animation: 40s AnimaçãoBanner  infinite linear
}

.banner img {
    flex: 0 0 auto;
    margin: 0 30px;
    width: 20px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.banner p {
    font-weight: bold;
    font-family: 'arial';
    text-align: center;
    flex: 0 0 auto;
    flex-shrink: 0;
    margin-right: 100px; 
}

/*  PROBLEMA DE CONTEÚDO É TODO DO MAIN POIS ELE ESTÁ COM O HEIGHT QUE DIFICULTA O SCRIPT, E SE ESTIVER PEQUENO O MAIN FICA EM ESTADO DE VAZAMENTO  */
main{
    
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 1%;
    margin-top: 0px;

}

h1  {
    text-align: center;
    flex: auto;
    font-size: 2.3em;
    background: linear-gradient(90deg, #be3537 40%, #dcbe2c);
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.178) ;
}

main p {
    padding: 2px;
    line-height: 1.4em;
    font-size: .9em;
    color: #000;
    text-align: justify;
    text-indent: 10px;
    flex: auto;
    
   
}

div.home {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center;
    
}


.img-home {
    
    width: 90vw;
    max-width: 90vw;
    height: 350px;
    margin: 10px auto 0;
    flex: auto;
    border-radius: 1.5%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);
   
}

span {
    font-size: 1em;
    font-weight: bold;
    color: var(--cor-vermelhofooter);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.093);
}

.links-cta {
    
    margin: 1px ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.164);
}


.links-cta a.bike {
    background-color: var(--cor-amarelalogo);
    width: fit-content;
    margin: 6px;
    border-radius: 5%;
    color: var(--cor-vermelhoclaro);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.193);
    padding: 10px;
    font-size: .9em;
    transition: all .3s linear; 
}
.links-cta a.p-a {
    margin: 6px;
    padding: 4px;
    font-size: .9em;
    background-color: var(--cor-vermelhoclaro);
    width: fit-content;
    border-radius: 5%;
    color: var(--cor-amarelalogo);
    text-decoration: none;
    font-weight: bold;
    transition: all .3s linear; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.193);
}
.links-cta a.bike:hover {
    background-color: var(--cor-vermelhoclaro);
    color: var(--cor-amarelalogo);
    transition: all .4s linear; 
    
}

.links-cta a.p-a:hover {
    background-color: var(--cor-amarelalogo);
    color: var(--cor-vermelhoclaro);
    transition: all .6s linear; 
}


.ctaWhats {
    
    margin: 2px;
    width: 21px;
    height: 21px;
    transition: all .4s linear;
}
.ctaWhats:hover {
    padding: 3px;
    transition: all .4s linear; 
    
}


.conteiner-D{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 98%;
    max-width: 1000px;
    height: 530px;
    
    background-color: #ffffff;
    text-align: center;
    border-radius: 2%;
    
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 10px;
    overflow: hidden;
   }

/* depoimentos-D */
.depoimentos-D {
    
    border-radius: .4em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: calc(100% - 6px);
    margin: 0 auto;
    
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 2%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);
   
    max-width: 1200px;
    
    color: #ffffff; 
    scroll-snap-align: center;
}

/*cards-D*/

.cards-D .cards-itens-D{
    list-style: none;  
     transition: all .3s linear;
     user-select: none; 
     
}



/* cards-link-D */

.cards-link-D {
    display: block;
    height: 393px;
    user-select: none;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px;
    background-color: #fffcee;
    color: #000000;
    text-decoration: none;
    transition: all .6s linear; 
    border-radius: 2%;
}

.cards-link-D:hover {
    background: #fdeb9c;
    transition: all .3s linear;
    color: #000;
    cursor: grab;

}

/* p-D */
.p-D {
    width: 50%;
    background: linear-gradient( #ffffff 40%, #d5d5d5);
    width: fit-content;
    padding: 8px;
    margin: 1em 0em 1em;
    font-size: .8em;
    color: var(--cor-vermelhoclaro);
    text-align: justify;
    flex: auto;
    border-radius: .9em;
    font-weight: 700;
    
    
    
}

/* h3-D */
.h3-D {
   
    font-size: .9em;
    background: linear-gradient( #000000 70%, #be3537);
    background-clip: text;
    color: transparent;
    margin: 2px 0px;
    padding: 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.178) ;
    font-weight: 500;
    text-align: center;
}

/* img-D */
.img-D {
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin: 20px auto 0;
    flex: auto;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.145);
}

/* card-button-D */
.card-button-D {
    height: 28px;
    width: 29px;
    border-radius: 1em;
    margin: 0 auto;
    padding: 0px;
    background : none;
    border: 1px solid var(--cor-vermelhoclaro);
    color: var(--cor-vermelhoclaro);
    cursor: pointer;
}

.card-button-D:hover {
    background-color: var(--cor-vermelhoclaro);
    color: #fff1b8;
    transition: all .3s linear; 
    
}

.card-wrapper .swiper-pagination-bullet {
    background: var(--cor-vermelhoclaro) !important;
    opacity: .4;
    width: 9px;
    height:9px;
    
    
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: .8;
    background: var(--cor-vermelhoclaro) !important;
    width: 11px;
    height: 11px;
}

.swiper-slide-buttton {
    
    color: var(--cor-vermelhoclaro) !important;
    opacity: .1;
    margin: -79x;
    padding: -6px;
    width: 2px;
    height: 3px;
    transition: all .4s linear;
    
}

.swiper-slide-buttton:hover {
   margin: 8px;
    opacity: 1;
    color: var(--cor-vermelhoclaro) !important;
    width: 2px;
    height: 3px;
    transition: all .4s linear;

}


section #Serviços {
    
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 0 0;
    text-align: center;
    border-radius: 2em;
    margin-top: 0px;
    
    
}

article .servicos-oferta {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 10px;
    
    width: 100%;
    margin: 20px 0;
    padding: 10px;
}

article .servicos-oferta > img {
    flex: 0 0 35%;
    max-width: 50%;
    height: auto;
    border-radius: 2%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.142);
    transition: all .3s linear;
    margin-bottom: 0;
} 

article .servicos-oferta > img:hover {
    transform: scale(1.04);
    transition: all .3s linear;
    cursor: pointer;
}

article .servicos-oferta > p {
    flex: 1 0 calc(35% - 10px);
    font-size: 0.9em;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 2px 0;
}

article .servicos-oferta > span {
    flex: 1 0 100%;
    font-weight: bold;
    color: var(--cor-vermelhoclaro);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.093);
    margin: 10px 0;
}

.container-links {
    display: flex;
    width: 100%;
    gap: 10px;
    align-content: center;
    
  
    
}

.container-links > a {
    
    flex: 1 0 calc(50% - 5px);
    box-sizing: border-box;
    font-size: 0.9em;
    padding: 15px ;
    background-color: var(--cor-amarelalogo);
    color: var(--cor-vermelhoclaro);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
    transition: all .3s linear;
}

.container-links > a:hover {
    background-color: #cfb329;
    transform: scale(1.01);
    transition: all .3s linear;
    
}

del {
    text-decoration: line-through;
    color: var(--cor-vermelhoclaro); 
    margin-right: 10px;
  }



.peças {
    width: 150px;
    width: 150px;
}



.servicoss-pecas {
    padding: 40px 20px;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .servicos-pecas h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
  }
  
  .servicos-pecas article {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }
  
  .galeria-imagens {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  
  .galeria-imagens img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s;
  }
  
  .galeria-imagens img:hover {
    transform: scale(1.05);
    
  }
  
  .descricao {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #444;
  }
  
  
  .botao-comprar:hover {
    background-color: #3a2e14;
  }



  
  



section #Sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
   
    text-align: center;
    border-radius: 2em;
    background-color: rgb(0, 0, 0);
}


.img-centro-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.img-centro-sobre > iframe {
    width: 100%;
    height: 100%;
    border-radius: 2%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);
    aspect-ratio: 16/9;
    filter: contrast(109%);
}

.img-sobre {
    width: 100%;
    height: 40vh;
    margin-top: 10px;
    border-radius: 2%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);
    margin-bottom: 20px;
}



p.sobre {
    margin-top: 21px;
    padding: 2px;
    line-height: 1.5em;
    font-size: .9em;
    color: #000;
    text-align: justify;
    text-indent: 10px;
    flex: auto;

    
   
}

.especsobre {
    margin-bottom: 15px;
    font-weight: bold;
    padding: 10px;
    font-size: .8em;
    margin-top: -35px;
    color: var(--cor-vermelhofooter);
}

div.mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    background-color: var(--cor-amarelalogo);
    border-radius: 2%;
}

div.mapa iframe {
    width: 97%;
    height: 300px;
    border-radius: 2%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);

}

div.Destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

p.destaque {
    
    text-align: center;
    margin:30px;
}



h2.destaque {
    flex: auto;
    font-size: 1.3em;
    background: linear-gradient( #000000 20%, #be3537);
    background-clip: text;
    color: transparent;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.173) ;
    font-weight: bold;
    text-align: center;
}




.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 5em;
    background: var(--cor-vermelhofooter);
    color: #fff;
    text-align: center;
    gap: 5em;
    
  }

  .dev-logo,
  .parceria {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dev-logo p, .parceria p {
    
    font-size: .9rem;
  }

  .img-footer {
    width: clamp(3rem, 25vw, 6rem);
    height: auto;
    
  } 
  .img-marca-footer {
    width: clamp(14rem, 25vw, 6rem);
    
    
  }


