:root {
    --cor-amarelalogo: #dcbe2c;
    --cor-amareloclaro: #ffcc00;
    --cor-vermelhoclaro: #be3537;
    --cor-vermelhoescuro: #620b0b;
    --cor-vermelhofooter: #460808;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

body {
   
    background-color: #fff;
    height: 100%;
    color: #000;
    font-size: 1em;
    
}

html { 
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header{
    position: sticky;
    top: 0 ;
    width: 100%;
    background-color: var(--cor-amarelalogo);
    padding: .2em 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);
    z-index: 2023;
}

header .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    max-width: 1200px;
    margin: 0 auto;    
}

 header nav ul {
        display: flex;
        gap: .4em; 
}

header nav ul li a {
       
        color: #fffdfd;
        font-size: .8em;
        font-weight: bold;
        border-radius: .5em;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.150);
        transition: all .3s ease-in;
       
}
a {
    text-decoration: none;
    padding: 5px;
    display: flex;
   
    
}

header nav ul li a:hover {
        color: var(--cor-vermelhoclaro);
        border-radius: 5px;
        transition: all .3s ease-in;
        animation:  11s linear infinite;

       
}

header nav ul li a.active {
        color: white;
       background-image: linear-gradient(to bottom, var(--cor-vermelhoclaro) 1%, transparent) ;
        border-radius: 5px;
        transition: all .3s ease-in;
       
}

header img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 70px;
    height: auto;  
}



h1{
  
    color: #fff;
    font-size: 1.8em;
}
ul {
list-style: none;
}

.section {
    width: 100%;
    height: calc(100vh - .2em);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-vermelhoclaro);
    color: #fff;
   
    
}

#Home{
    background-color: var(--cor-vermelhoclaro); 
}
#Serviços{
    background-color: var(--cor-vermelhoclaro);
}
#Sobre{
    background-image: linear-gradient(to bottom, var(--cor-vermelhoclaro) 55%, var(--cor-vermelhoescuro));
}
#Contato{background-color: var(--cor-vermelhoescuro);}


.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 3em 0;
    background-color: var(--cor-vermelhofooter);
    color: #fff;
    font-size: 1em;
}

@keyframes AnimaçãoBanner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70%);
    }
    
}


.container-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0.1em 0;
    background-color: var(--cor-vermelhoescuro);
    color: var(--cor-amarelalogo);
    font-size: .9em;
   text-align: center;
}



.banner { 
    animation-timing-function: linear;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
animation: 20s AnimaçãoBanner  infinite linear ;
position: relative;
}

.container-banner:hover .banner {
    animation-play-state: paused;
}

.banner img {
    flex: 0 0 auto;
    margin: 0 30px;
    width: 20px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.banner p {
    font-weight: bold;
    font-family: 'arial';
    text-align: center;
    flex: 0 0 auto;
    flex-shrink: 0;
    margin-right: 100px; 
}

/*  PROBLEMA DE CONTEÚDO É TODO DO MAIN POIS ELE ESTÁ COM O HEIGHT QUE DIFICULTA O SCRIPT, E SE ESTIVER PEQUENO O MAIN FICA EM ESTADO DE VAZAMENTO  */
main{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
    width: 98%;
    padding: 20px;

}

h1 {
    text-align: center;
    flex: auto;
    font-size: 2em;
    color: var(--cor-vermelhofooter);
    margin-top: 15px;
    margin-bottom: 1px;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.337) ;
}

main p {
    padding: 5px;
    line-height: 1.5em;
    font-size: .9em;
    color: #000;
    text-align: justify;
    text-indent: 20px;
    flex: auto;
    
   
}

img {
   
    /*width: 100%;
    width: 150px; 
    */
    max-width: 185px;
    height: auto;  
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    
}





div.home {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}





